#dashboard-section{
    width: 100vw;
    height: 100vh;
    background-color: #ECF0F1;
    overflow: hidden;
    position: relative;
}

#customer-section{
    width: 100vw;
    height: 100vh;
    background-color: #ECF0F1;
    overflow: hidden;
    position: relative;
}

#item-section{
    width: 100vw;
    height: 100vh;
    background-color: #ECF0F1;
    overflow: hidden;
    position: relative;
}

#place-order-section{
    width: 100vw;
    height: 100vh;
    background-color: #ECF0F1;
    overflow: hidden;
    position: relative;
}

#btn-order-add{
    position: absolute;
    bottom: 30px;
    right: 40px;
}

#btn-order-add:hover{
    background-color: #e74c3c;
    border: #e74c3c;
}

.top>h2{
    position: relative;
    left: 320px;
    top: 30px;
    color: white;
    font-weight: bold;
}
.nav-bar{
    width: 15vw;
    height: 95vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 8px;
    padding-top: 20px;
}

.nav-links>span{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 15px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-links>span:hover{
    color: white;
    transition-duration: 1s;
}

.nav-bar>h3{
    margin-left: 60px;
}

.top{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 30vh;
    background-color: #686DE0;
    margin-top: 0;
}

.user-image{
    position: absolute;
    right: 0;
    margin-right: 180px;
    bottom: 210px;
    border-radius: 100%;
    background-color: white;
    width: 70px;
    aspect-ratio: 1/1;
}

.user-image>img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card1{
    background-color: white;
    width: 400px;
    height: 150px;
    position: absolute;
    left: 320px;
    top: 85px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card2{
    background-color: white;
    width: 400px;
    height: 150px;
    position: absolute;
    left: 730px;
    top: 85px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card3{
    background-color: white;
    width: 400px;
    height: 150px;
    position: absolute;
    left: 1140px;
    top: 85px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-image1{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    right: 10px;
    top:10px;
    background-color: #3498db;
}

.card-image2{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    right: 10px;
    top:10px;
    background-color: #e74c3c;
}

.card-image3{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    right: 10px;
    top:10px;
    background-color: #1abc9c;
}

.card-image1>img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}

.card-image2>img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.card-image3>img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
}

.card-number{
    position: absolute;
    bottom: 10px;
    left: 30px;
}

#carouselExampleAutoplaying1{
    width: 750px;
    position: absolute;
    right: 30px;
    top: 260px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#carouselExampleAutoplaying2{
    width: 750px;
    position: absolute;
    right: 30px;
    top: 260px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#carouselExampleAutoplaying3{
    width: 750px;
    position: absolute;
    right: 30px;
    top: 260px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.carousel-inner>.carousel-item>img{
    width: 750px;
    height: 400px;
    border-radius: 5px;
}

.table-div{
    width: 1555px;
    background-color: white;
    height: 300px;
    position: absolute;
    left: 310px;
    bottom: 10px;
    border-radius: 10px;
}

.table{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30px;
    left: 0;
    margin: auto;
    width: 1555px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table-div>h4{
    position: absolute;
    top: 0;
    left: 0;
    color: black;
}

.table-div>table>thead>tr>th{
    color: #AAA69D;
}

.add{
    background-color: white;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 260px;
    left: 310px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-edit{
    position: absolute;
    bottom: -165px;
    right: -296px;
    margin: auto;
    width: 80px;
    height: 50px;
    font-weight: bold;
    background-color: #f39c12;
}

.btn-add{
    position: absolute;
    width: 200px;
    height: 60px;
    top: 30px;
    left: 550px;
    background-color: #27ae60;
    border: #27ae60;
}

.btn-add:hover{
    background-color: #1abc9c;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: #1abc9c;
}

.btn-save{
    position: absolute;
    bottom: -165px;
    right: -296px;
    margin: auto;
    width: 80px;
    height: 50px;
    font-weight: bold;
    background-color: #27ae60;
}

.form-title{
    position: absolute;
    top: 5px;
    left: 30px;
}

.forms{
    position: absolute;
    top: 30px;
    width: 300px;
    height: 300px;
}

#customer-id{
    width: 100px;
    position: relative;
    top: 50px;
    left: 2px;
}

.first-name{
    width: 470px;
    position: absolute;
    top: 80px;
    left: 30px;
}


.inputAddress{
    width: 470px;
    position: absolute;
    top: 130px;
    left: 30px;
}

.inputTel{
    width: 470px;
    position: absolute;
    top: 180px;
    left: 30px;
}

#table-div-dash{
    width: 800px;
    background-color: white;
    height: 300px;
    position: absolute;
    left: 310px;
    bottom: 10px;
    border-radius: 10px;
}

#table-div-dash>.table{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 800px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-div{
    position: absolute;
    width: 700px;
    height: 100px;
    top: 240px;
    left: 30px;
}


.form-btn{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: background-color 0.5s;
}

.f-btn-save{
    border: 2px solid #27ae60;
}

.f-btn-update{
    border: 2px solid #f39c12;
}

.f-btn-delete{
    border: 2px solid #e74c3c;
}

.f-btn-reset{
    border: 2px solid #3498db;
}

.f-btn-save:hover{
    background-color: #27ae60;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f-btn-update:hover{
    background-color: #f39c12;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f-btn-delete:hover{
    background-color: #e74c3c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.f-btn-reset:hover{
    background-color: #3498db;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Login section*/

#login-div>div>h2{
    font-weight: bolder;
    font-size: 35px;
    position: relative;
    top: 20px;
    text-align: center;
}

#login-div>div>h5{
    font-size: 25px;
    color: gray;
    position: relative;
    top: 40px;
    text-align: center;
}

#login-section>form{
    margin-top: 40px;
}

section>img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 1100px;
    height: 900px;
    margin: 30px 0 0 40px;
    border-radius: 10px;
}

#login-section{
    position: absolute;
    right: 0;
    top: 0;
    margin: 200px 220px 0 0;
}

#login-div{
    width: 500px;
    height: 800px;
    border: 2px solid #9F70FD;
    position: relative;
    bottom: 130px;
    left: 5px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#login-username{
    position: absolute;
    top: 240px;
    left: 35px;
    width: 420px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#login-password{
    width: 420px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 320px;
    left: 35px;
}

input,input::-webkit-input-placeholder{
    font-size: 15px;
    color: gray;
}

.login-form:focus{
    border-color: #008DDA;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    outline: 0 none;
}

#btn-signIn{
    background-color: #9F70FD;
    border: #9F70FD;
    font-weight: bolder;
    position: absolute;
    top: 380px;
    left: 35px;
    width: 420px;
}

#btn-signIn:hover{
    background-color: #9F70FD;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: #9F70FD;;
}

